<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="exercicios-unimestre">
      <file>tests/M7E3.php</file>
      <file>tests/M7E4.php</file>
      <file>tests/M7E5.php</file>
      <file>tests/M7E6.php</file>
      <file>tests/M7E7.php</file>
    </testsuite>
  </testsuites>
  <logging>
    <log type="testdox-text" target="testes-executados.txt" />
  </logging>
</phpunit>